$breakpoints: (
  xs: 450px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-breakpoint($size, $direction: up) {
  $width: map-get($breakpoints, $size);

  @if $width {
    @if $direction ==up {
      @media (min-width: $width) {
        @content;
      }
    }

    @else if $direction ==down {
      @media (max-width: $width) {
        @content;
      }
    }
  }

  @else {
    @error "Invalid breakpoint: #{$size}";
  }
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  background-color: var(--surface-ground);
}

.input {
  margin: 0.25rem;
}

.input-text {
  @extend .input;
  > input {
    width: 160px;
  }
}

.input-number {
  @extend .input;
  
  > span {
    > input {
      width: 80px;
    }
  }
}

.dropdown-currency-code {
  @extend .input;
  width: 105px;
}
