$breakpoints: (
  xs: 288px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-breakpoint($size, $direction: up) {
  $width: map-get($breakpoints, $size);

  @if $width {
    @if $direction ==up {
      @media (min-width: $width) {
        @content;
      }
    }

    @else if $direction ==down {
      @media (max-width: $width) {
        @content;
      }
    }
  }

  @else {
    @error "Invalid breakpoint: #{$size}";
  }
}
@include media-breakpoint(lg, down) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  background-color: var(--surface-ground);
}

.card {
  background-color: var(--surface-card);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
  overflow: hidden;
}

.money {
  font-family: var(--font-family);
  font-weight: bold;
  display: block;
  text-align: end;
}

.budget-icon {
  display: flex;
  gap: 0.5rem;
}

.transfer-icon {
  color: #007BA7;
  font-weight: bold;
}

$date-width: 4rem;

.date {
  width: $date-width;
}

.operation-title {
  font-style: italic;
}

.p-button:focus {
  box-shadow: 0 0 0 0px #ffffff, 0 0 0 2px #b1b3f8, 0 0px 0 black;
}

.p-dropdown-label {
  display: flex;
  align-items: center;
}