$breakpoints: (
  xs: 380px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-breakpoint($size, $direction: up) {
  $width: map-get($breakpoints, $size);

  @if $width {
    @if $direction ==up {
      @media (min-width: $width) {
        @content;
      }
    }

    @else if $direction ==down {
      @media (max-width: $width) {
        @content;
      }
    }
  }

  @else {
    @error "Invalid breakpoint: #{$size}";
  }
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  background-color: var(--surface-ground);
}

.card {
  background-color: var(--surface-section);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.money {
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: end;
}
.income {
  color: limegreen;
}
.expense {
  color: crimson;
}

$date-width: 4rem;

.date {
  width: $date-width;
}

.operation-title {
  font-style: italic;
}